body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/annie-spratt-0ZPSX_mQ3xI-unsplash-m.jpg");
}
nav{
    background-color:#e3f2fd
}
nav > a{
    font-weight: 600;
}
table{
    margin-top: 5px;
}
